body {
    font-family: Georgia, serif;
    text-align: center;
    background-color: #DDE0BD;
    color: #948B89;
}

#introduction__welcome {
    margin-top: 0;
}

hr {
    height: 2px;
    background-color:#B6A39E;
    border-color:#B6A39E;
}

/* MAIN SECTION */
#main__subscribe, #main__welcome, #main__list {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

#main__values {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: #726E75;
}

a:hover {
    color: #D0D1AC;
}

#main__cats {
    font-weight: bold;
    text-decoration: underline;
    color: crimson;
}

/* NEWSLETTER SECTION */
.newsletter {
    text-align: left;
}

#newsletter__human {
    width: 133px;
}

#newsletter__email {
    width: 253px;
}

.submit {
    background-color:#948B89;
    color: #D0D1AC;
    border-color: #D0D1AC;
}

.submit:hover {
    background-color:#B6A39E;
    color: #DDE0BD;
    border-color: #DDE0BD;
}

/* FOOTER */
footer {
    font-size: 14px;
}
